* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

:root {
	--clr-main: #c56cee;
	--clr-main-light: #efdaf9;
}

.header {
	background-color: purple;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	align-items: center;
}

.container {
	max-width: 1140px;
	padding-inline: 1.5rem;
	margin: 0 auto;
}

.main-title {
	margin-top: 2rem;
}

.navbar {
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--clr-main);
	border-bottom: 3px solid black;
}

.logo {
	text-decoration: none;
	color: black;
}

.nav {
	display: flex;
}

.nav-menu {
	list-style-type: none;
	display: flex;
	gap: 0.5rem;
}

.nav-link {
	color: red;
	text-decoration: none;
}

.nav-link.active {
	font-weight: bold;
	text-decoration: underline;
}

.products-container {
	min-height: 30vh;
	display: grid;
	place-items: center;
}

.oscuro {
	background-color: black !important;
}

.item-list-container {
	max-width: 1000px;
	margin: 0 auto;
}

.productos-grilla {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}
.producto {
	background-color: pink;
	border-radius: 0.5rem;
	padding: 1rem;
}

.pokemons {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	margin: 3rem;
}

.grid {
	display: grid;
}

footer {
	margin-top: 30rem;
}

a {
	color: white;
}

.verde {
	color: green;
}

.rojo {
	color: red;
}

.bg-blanco {
	background-color: white;
}

.bg-gris {
	background-color: gray;
}

.item-count {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}

.item-count button,
.agregar-al-carrito,
.enviar {
	background-color: var(--clr-main);
	border: 0;
	width: 2rem;
	height: 2rem;
	color: white;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1;
	border: 2px solid var(--clr-main);
	transition: 0.2s;
}

.item-count button:hover,
.agregar-al-carrito:hover,
.enviar:hover {
	background-color: white;
	color: black;
}

.agregar-al-carrito,
.enviar {
	width: auto;
	height: auto;
	margin-top: 1rem;
	padding: 1rem;
}

.formulario {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
}

.formulario input {
	padding: 0.5rem;
	width: 18rem;
	border-radius: 0.5rem;
	border: 2px solid var(--clr-main);
}
.formulario button {
	padding: 0.5rem 1rem;
	border: none;
	background-color: var(--clr-main);
	color: white;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s;
}
